
body{
    background-color: #a8c9aa;
}

.navbar{
    display: flex;
    background-color: rgb(66, 184, 66);
    height: 50px;
    justify-content: center;
}

.columna1{
    display:block;
    width: 20%;
    margin: 5% auto;
    font-weight: 100px;
    margin-right: 20%;
    margin-top: 5%;
}

.columna2{
    display: block;
    width: 20%;
    margin: 5% auto;
    margin-left: 20%;
    margin-top: -66%;
}

.footer{
    display: flex;
    background-color: rgb(66, 184, 66);
    margin-top: 5%;
    justify-content: right;
}