body{
    background-color: #a8c9aa;
}

.navbar{
    display: flex;
    font-size: 25px;
    background-color: rgb(66, 184, 66);
    height: 50px;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-between; /* Distribuye los elementos en dos columnas */
}



.footer{
    display: flex;
    text-align: center;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(66, 184, 66);
    margin-top: 7%;
    padding: 10px;
    justify-content: center;
}

img {
    max-height: 50%;
    cursor: pointer;
    
}

.columna1{
    display:block;
    width: 20%;
    margin: 5% auto;
    font-weight: 100px;
    margin-right: 15%;
    margin-top: 5%;
}

.columna2{
    display: block;
    width: 20%;
    margin: 5% auto;
    margin-left: 15%;
    margin-top: -67%;
 }

.elementos img {
    max-height: 100%;
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transiciones suaves de opacidad y transformación */
}

.blur {
    filter:blur(2px); /* Desenfoque para indicar selección */
}


