body{
    background-color: #a8c9aa;
}

.navbar{
    display: flex;
    font-size: 25px;
    background-color: rgb(66, 184, 66);
    height: 50px;
    justify-content: center;
}

.footer{
    display: flex;
    text-align: center;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(66, 184, 66);
    padding: 10px;
    justify-content: center;
}

img {
    max-height: 50%;
    cursor: pointer;
    
}

.conteiner{
    display: flex;
    justify-content: space-between;
    width: 80%; /* Ajusta el ancho según sea necesario */
    margin: 0 auto; /* Centra el contenedor */
}

.columna1,
.columna2 {
    display: block;
    width: 45%; /* Ajusta el ancho según sea necesario */
    font-weight: 20%;
    margin-top: 5%;
    margin-left: 15%;
}

.blur {
    filter:blur(4px); /* Desenfoque para indicar selección */
}


